version: "3.8"

services:
  db:
    image: postgres:16
    container_name: postgres_portal
    environment:
      POSTGRES_DB: portal_estagios
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d portal_estagios"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
